<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko-KR">

<head>
    <meta charset="UTF-8">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <title>Sign In</title>

    <style>
        .login-container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid;
            border-radius: 10px;
        }
        .form-label {
            min-width: 80px;
            font-weight: bold;
        }
    </style>
</head>

<body>

<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="text-center mt-3">
        <h1>Please Sign In</h1>
    </div>
    <div class="login-container">
        <form th:action="@{/login}" method="post">
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="loginId" class="form-label">Username</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="username" class="form-control" id="loginId" autofocus="autofocus">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="loginPassword" class="form-label">Password</label>
                </div>
                <div class="col-sm-8">
                    <input type="password" name="password" class="form-control" id="loginPassword">
                </div>
            </div>

            <div th:if="error">
                <p class="error" th:text="${error}"></p> <!-- 에러 메시지 표시 -->
            </div>

            <button type="submit" class="btn btn-primary w-100">Sign In</button>

        </form>
    </div>
</div>

</body>

</html>